<div class ="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading" id="about-style">About us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0 order-1">
              <figure>
              <img src="images/images.png" alt ="hero_img">
              </figure>
            </div>
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
              <h1> WE ARE THE PROFESSIONAL DEVELOPER</h1>
              <p> Welcome to <span style="bold-style">RishuTechnical.</span> your Number one source for all things. We,re Dedicated To giving you THe very best of work. With A Focus on three characterstics( dependability ,customer service and uniqueness.)  </p>
              <button class="btn-style btn-primary">Show more</button>
            </div>
        </div>
    </div>
</div>
</div>