<div class ="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0 order-1">
              <h1> WE WILL HELP YOU TO</h1>
              <h1> GROW YOUR BUSINESS</h1>
              <p> We Are The Team of <span style="bold-style">professional Developer</span></p>
              <button class="btn-style btn-primary">Show more</button>
            </div>
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
             <figure>
              <img src="images/growth.png" alt ="hero_img">
             </figure>
            </div>
        </div>
     </div>
  </div>
</div>